
body {
    background-color: burlywood;
    align-items: center;
    justify-content: center;
}

h1, h2, a, div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify-all;
    color: brown;
}
